.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
